#忽略根目录和所有子目录下的.vs和.vscode文件夹
.vs/
.vscode/

#忽略所有的.exe可执行文件
*.exe

#忽略所有的gcc编译生成的中间文件
*.o
*.obj

#忽略macOS调试符号文件夹
*.dSYM/

#忽略所有没有扩展名的文件
#[^.]* 不行，mac上实际是忽略里所有的文件

#忽略可执行文件（编译生成的二进制文件）
c_test
clock
c/test/get_sysinf
c/test/main

/py/prj_test/__pycache__
/desktop.ini

#忽略vs相关文件
*.vcxproj.user
/c/cal_trae/out/build/MinGW-GCC-Debug
*.log
